
<h1>People</h1>
<ul>
<% @people.each do |person| %>
  <li>
    <%= link_to person.full_name, person %>
    (<%= person.children.size%> children)
    (<%= person.siblings.size%> siblings)
  </li>
<% end %>
</ul>

<%= link_to "New Person", new_person_path %>